
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#daniel-zilberman">
  <img data-src="/assets/images/quienes-somos/DanielZilbermanH.jpg" class="w-100 lazyload" alt="Daniel Zilberman" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Daniel Zilberman</h3>
<p class="c-persona__position">Managing Director, responsable de Europa en Warburg Pincus International.</p>

<div class="c-persona__modal modal fade" id="daniel-zilberman" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/DanielZilbermanV.jpg" class="c-persona__modal__image lazyload h-100" alt="Daniel Zilberman" />
          </div>
          <div class="col-lg-6">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Daniel Zilberman</h3>
                <p class="c-persona__position">Managing Director, responsable de Europa en Warburg Pincus International</p>
                <!--<div class="c-persona__modal__text c-persona__modal__text--data">
                  <p><strong>Birth</strong><br />xxx</p>
                  <p><strong>City</strong><br />xxx</p>
                  <p><strong>Education</strong><br />xxx</p>
                </div>
                <ul class="c-rrss">
                  <li><a href="#">{{svgSprite('linkedin')}}</a></li>
                  <li><a href="#">{{svgSprite('twitter')}}</a></li>
                  <li><a href="#">{{svgSprite('email')}}</a></li>
                </ul>-->
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                <p>Consejero en:</p>
                <ul>
                  <li>Network International (R.U.)</li>                 
                  <li>Avaloq A.G. (SWI)</li>
				  <li>Leumi Card (ISR) </li>
				  <li>Vodeno (POL)</li>
				  <li>McGill & Partners (R.U.) </li>
				  <li>Reiss Holdings (R.U.) </li>
                </ul>
                <p>Anteriormente, ha ocupado distintos cargos en las siguientes compañías:</p>
                <ul>
                  <li>Aeolus Re. Ltd ( R.U.)</li>
                  <li>The Mutual Fund Store (EE.UU.)</li>
                  <li>Cortview Capital Inc (EE.UU)</li>
                  <li>Santander Asset Management</li>
                  <li>Santander Consumer (EE.UU.)</li>
                  <li>Primerica Inc. (EE.UU.)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
