
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#richard-laxer">
  <img data-src="/assets/images/quienes-somos/Richard-Laxer-H.jpg" class="w-100 lazyload" alt="Richard Laxer" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Richard Laxer</h3>
<p class="c-persona__position">Asesor senior de Warburg Pincus en Europa</p>

<div class="c-persona__modal modal fade" id="richard-laxer" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-5 overflow-hidden">
            <img data-src="/assets/images/quienes-somos/Richard-Laxer-V.jpg" class="c-persona__modal__image lazyload h-100" alt="Richard Laxer" />
          </div>
          <div class="col-lg-6">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-12 u-mb-base">
                <h3 class="c-persona__title">Richard Laxer</h3>
                <p class="c-persona__position">Asesor senior de Warburg Pincus en Europa</p>
                <!--<div class="c-persona__modal__text c-persona__modal__text--data">
                  <p><strong>Birth</strong><br />xxx</p>
                  <p><strong>City</strong><br />xxx</p>
                  <p><strong>Education</strong><br />xxx</p>
                </div>
                <ul class="c-rrss">
                  <li><a href="#">{{svgSprite('linkedin')}}</a></li>
                  <li><a href="#">{{svgSprite('twitter')}}</a></li>
                  <li><a href="#">{{svgSprite('email')}}</a></li>
                </ul>-->
              </div>
              <div class="col-lg-12 c-persona__modal__text">
                 <ul>           
                  <li>Presidente de Aion SA.</li>
				  <li>Miembro de los Consejos de Vodeno IT y Kindred Soul.</li>
				  <li>Miembro del Consejo y Presidente del Comité de Nombramientos y Retribuciones de Leonteq.</li>
                </ul>
                <p>Anteriormente, ha ocupado distintos cargos en las siguientes compañías:</p>
                <ul>
                  <li>Presidente y Consejero Delegado de General Electrics Capital International</li>
				  <li>Presidente y CEO de General Electrics Capital EMEA</li>
				  <li>Presidente de General Electrics Commertial Finance, Corporate Financial Services</li>
				  <li>Diferentes cargos en consejos como el de Cembra Money Bank, Moneta Money Bank y Pendragon PLC.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
