<div class="row u-mb-2">
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('rigor')}}
      <h3 class="c-icontext__title">Rigor</h3>
      <p>Cumplimos nuestros compromisos. Brindamos a nuestros clientes asesoramiento profesional.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('transparencia')}}
      <h3 class="c-icontext__title">Transparencia</h3>
      <p>Informamos siempre a los clientes de las implicaciones de nuestras propuestas y de todos los costes del servicio.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('empatia')}}
      <h3 class="c-icontext__title">Empatía</h3>
      <p>Escuchamos  a nuestros clientes para entender sus objetivos y adecuar nuestras propuestas.
      <br />Nos ponemos “en sus zapatos”.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('proactividad')}}
      <h3 class="c-icontext__title">Proactividad</h3>
      <p>Procuramos adelantarnos a nuestros clientes en todo lo que afecta a sus finanzas.</p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('respeto')}}
      <h3 class="c-icontext__title">Respeto</h3>
      <p>Al cliente, a la competencia, a las instituciones y al medio ambiente.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('excelencia')}}
      <h3 class="c-icontext__title">Excelencia</h3>
      <p>Buscamos el mejor talento profesional.
      <br />Seleccionamos los mejores fabricantes de producto.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('honestidad')}}
      <h3 class="c-icontext__title">Honestidad</h3>
      <p>Anteponemos los intereses del cliente a los del banco.
      <br />Actuamos sin conflicto de interés.
      <br />Reconocemos nuestros errores.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('discrecion')}}
      <h3 class="c-icontext__title">Discreción</h3>
      <p>La confidencialidad es la base de nuestra relación.
      <br />Nuestros procesos, oficinas y comunicaciones se diseñan para salvaguardar la privacidad de nuestros clientes.</p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('educacion-financiera')}}
      <h3 class="c-icontext__title">Educación Financiera</h3>
      <p>Las mejores decisiones se toman con conocimiento de causa.
      <br />Ofrecemos a nuestros clientes información que les facilite la comprensión de cómo funcionan los mercados financieros.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="c-icontext">
      {{svgSprite('sostenibilidad')}}
      <h3 class="c-icontext__title">Sostenibilidad</h3>
      <p>Diseñamos nuestros procesos instalaciones y materiales con criterios de eficiencia energética y de eliminación del uso de papel.</p>
    </div>
  </div>
</div>
