{% extends "_layouts/page.twig" %}
{% block page %}
<section class="c-hero c-hero--oficinas-y-contacto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="c-hero__container">
          <h1>Oficinas y Contacto</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-barcelona.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-barcelona.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-barcelona" class="c-product--list__item d-none mb-6 js-iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.6144977410613!2d2.152138076621396!3d41.395001671298836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a29a0afbcf8f%3A0xce33343af55ae12!2sAv.%20Diagonal%2C%20409%2C%20Eixample%2C%2008008%20Baranowizna%2C%20Barcelona!5e1!3m2!1ses!2ses!4v1753696770046!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-bilbao.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-bilbao.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-bilbao" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.3874347034293!2d-2.9350753238436655!3d43.26425847112318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e4f18be670603%3A0xcf5c639f8c83c0d7!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1693284071951!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-coruna.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-coruna.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-coruna" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11601.869084546488!2d-8.4043556!3d43.3672528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7d647e90bedd%3A0x6e5ef402cccf1a96!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1689828769848!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>




<section>
  <div class="container">
    <div class="c-product c-product--list mb-6">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4"> {% include "oficinas-y-contacto/product-item-las-palmas.twig" %} </div>
        <div class="col-12 col-md-6 col-lg-8"> {% include "oficinas-y-contacto/product-carousel-las-palmas.twig" %} </div>
      </div>
      <div id="GoogleIframe-las-palmas" class="c-product--list__item d-none mb-6 js-iframe">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3519.267214656813!2d-15.41930878433716!3d28.10788688262772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc4095456ccf40cd%3A0xea5f4d72e2b039ef!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1626777885639!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <span class="js-close c-persona__btn c-persona__btn--top-right"> {{svgSprite('plus')}}</span> </div>
    </div>
  </div>
</section>






<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-leon.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-leon.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-leon" class="c-product--list__item d-none mb-6 js-iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.9256102037084!2d-5.575002999999999!3d42.5993218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd379badcdf6e45b%3A0xf71ef26109e7dff6!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1689842200726!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-malaga.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-malaga.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-malaga" class="c-product--list__item d-none mb-6 js-iframe">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.0197751810047!2d-4.4195114!3d36.7220863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7b4f2cbba37%3A0xc7fe623b65b1d162!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1689842267299!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-madrid.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-madrid.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-Madrid" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12148.968194716861!2d-3.6881698!3d40.4256389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd357e0ab6d200141!2sSelf%20Bank!5e0!3m2!1ses!2ses!4v1578907210741!5m2!1ses!2ses" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-madrid-montalban.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-montalban.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-Montalban" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.5713966980124!2d-3.692677987973497!3d40.41834477132029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42289c7f8c5709%3A0x65be00bedc066aca!2sC.%20de%20Montalb%C3%A1n%2C%207%2C%20Retiro%2C%2028014%20Madrid!5e0!3m2!1ses!2ses!4v1742289087677!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-madrid-velazquez.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-velazquez.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-velazquez" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.9057892945216!2d-3.685820423418553!3d40.433084971436955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422895452b3b69%3A0x5b127a1982268219!2sCalle%20Vel%C3%A1zquez%2C%2094%2C%201%C2%BA%2C%20Salamanca%2C%2028006%20Madrid!5e0!3m2!1ses!2ses!4v1738736779360!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-murcia.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-murcia.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-murcia" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.471790040993!2d-1.1345298841472335!3d37.989454579720864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6383302f203e47%3A0x49d617a8edb87ad0!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1626777804434!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>


		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-sevilla.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-sevilla.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-Sevilla" class="c-product--list__item d-none mb-6 js-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12680.138824692223!2d-5.9994551!3d37.3890115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5feca85e55adcf7b!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1602057385255!5m2!1ses!2ses" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-valencia.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-valencia.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-Valencia" class="c-product--list__item d-none mb-6 js-iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12320.004074165008!2d-0.3936367!3d39.4693057!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6049a0e76f4467%3A0x6cd2599e2ed2cb31!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1689829022493!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-vigo.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-vigo.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-vigo" class="c-product--list__item d-none mb-6 js-iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3688.559242520483!2d-8.725168999999998!3d42.237428099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f63c562c933a5%3A0x3b3024ad83f992db!2sSingular%20Bank!5e1!3m2!1ses!2ses!4v1767890859544!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="c-product c-product--list mb-6">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 col-lg-4 pt-md-6 p-4">
					{% include "oficinas-y-contacto/product-item-zaragoza.twig" %}
				</div>
				<div class="col-12 col-md-6 col-lg-8">
					{% include "oficinas-y-contacto/product-carousel-zaragoza.twig" %}
				</div>
			</div>
			<div id="GoogleIframe-zaragoza" class="c-product--list__item d-none mb-6 js-iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.116275495103!2d-0.8821920000000001!3d41.6532297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd591557b43f2f2b%3A0xe8fd04cd1c4f8736!2sSingular%20Bank!5e0!3m2!1ses!2ses!4v1767891747575!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <iframe src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				<span class="js-close c-persona__btn c-persona__btn--top-right">
					{{svgSprite('plus')}}</span>
			</div>
		</div>
	</div>
</section>



{% endblock %} 