<p class="u-text-l mb-4 pb-lg-3">León</p>
<div class="d-flex flex-column align-items-baseline">
<p class="u-text-base font-weight-bold mb-4 p-oficinas-list__item">{{svgSprite('localizacion-rojo')}}Gran Vía San Marcos, 14 · 24002 León</p>

  </p>
  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34912909083">
    {{svgSprite('phone-rojo')}}
      +34 987 880 050
  </a>
  <a class="mb-4 p-oficinas-list__item" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
  <a class="mb-4 p-oficinas-list__item" href="https://goo.gl/maps/djJad96SSCa5wVE76" target="_blank">

    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="mb-4 p-oficinas-list__item js-iframe-link" href="#GoogleIframe-leon">
    {{svgSprite('mapa-rojo')}}
    Mapa
  </a>
</div>
