<p class="u-text-l mb-4 pb-lg-3">Las Palmas de Gran Canaria</p>
<div class="d-flex flex-column align-items-baseline">
<p class="u-text-base font-weight-bold mb-4 p-oficinas-list__item">{{svgSprite('localizacion-rojo')}}Calle Mayor de Triana, 116, 3ª planta · 35002 Las Palmas</p>

  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34928431768">
    {{svgSprite('phone-rojo')}}
    +34 928 970 140
  </a>
  <a class="mb-4 p-oficinas-list__item" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
  <a class="mb-4 p-oficinas-list__item" href="https://goo.gl/maps/3XEFFvE1HN2trx7B7" target="_blank">
    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="mb-4 p-oficinas-list__item js-iframe-link" href="#GoogleIframe-las-palmas">
    {{svgSprite('mapa-rojo')}}
    Mapa
  </a>
</div>
