<p class="u-text-l mb-4 pb-lg-3">Bilbao</p>
<div class="d-flex flex-column align-items-baseline">
  <p class="p-oficinas-list__item u-text-base font-weight-bold mb-4">
    {{svgSprite('localizacion-rojo')}}
      Calle Ercilla, 16, 1º Izquierda · 48009 Bilbao

  </p>
   <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34935246646">
    {{svgSprite('phone-rojo')}}
      +34 946 662 800
  </a> 
  <a class="p-oficinas-list__item mb-4" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
    <a class="p-oficinas-list__item mb-4" href="https://goo.gl/maps/AMAoZrxm2AhJju7f7" target="_blank">


    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="p-oficinas-list__item mb-4 js-iframe-link" href="#GoogleIframe-bilbao">{{svgSprite('mapa-rojo')}}Mapa</a> 
</div>
