<p class="u-text-l mb-4 pb-lg-3">Madrid - Goya</p>
<div class="d-flex flex-column align-items-baseline">
  <p class="p-oficinas-list__item u-text-base font-weight-bold mb-4">
    {{svgSprite('localizacion-rojo')}}
    Calle Goya, 11 · 28001 Madrid
  </p>
  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34912909083">
    {{svgSprite('phone-rojo')}}
    +34 912 909 083
  </a>
  <a class="p-oficinas-list__item mb-4" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
  <a class="p-oficinas-list__item mb-4" href="https://goo.gl/maps/zTLzSCVKZoYJMRm97" target="_blank">
    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="p-oficinas-list__item mb-4 js-iframe-link" href="#GoogleIframe-Madrid">{{svgSprite('mapa-rojo')}}Mapa</a>
</div>
