<p class="u-text-l mb-4 pb-lg-3">Madrid - Velázquez</p>
<div class="d-flex flex-column align-items-baseline">
  <p class="p-oficinas-list__item u-text-base font-weight-bold mb-4">
    {{svgSprite('localizacion-rojo')}}
      Calle Velázquez, 94, 1º Izquierda · 28006 Madrid

  </p>
  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34910621500">

    {{svgSprite('phone-rojo')}}
      +34 910 62 15 00

  </a>
  <a class="p-oficinas-list__item mb-4" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es

  </a>
    <a class="p-oficinas-list__item mb-4" href="https://maps.app.goo.gl/CsmnJPByXB6TWpau8" target="_blank">


    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a> 
  <a class="p-oficinas-list__item mb-4 js-iframe-link" href="#GoogleIframe-velazquez">{{svgSprite('mapa-rojo')}}Mapa</a>


</div>
