<p class="u-text-l mb-4 pb-lg-3">Sevilla</p>
<div class="d-flex flex-column align-items-baseline">
  <p class="u-text-base font-weight-bold mb-4 p-oficinas-list__item">{{svgSprite('localizacion-rojo')}}Calle Santas Patronas, 6 · 41001 Sevilla
  </p>
  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34955253020">
    {{svgSprite('phone-rojo')}}
    +34 955 253 020
  </a>
  <a class="mb-4 p-oficinas-list__item" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
  <a class="mb-4 p-oficinas-list__item" href="https://goo.gl/maps/7an22FcNUWWiTnsH6" target="_blank">
    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="mb-4 p-oficinas-list__item js-iframe-link" href="#GoogleIframe-Sevilla">
    {{svgSprite('mapa-rojo')}}
    Mapa
  </a>
</div>
