<p class="u-text-l mb-4 pb-lg-3">Vigo</p>
<div class="d-flex flex-column align-items-baseline">
  <p class="p-oficinas-list__item u-text-base font-weight-bold mb-4">
    {{svgSprite('localizacion-rojo')}}
      Calle Doctor Cadaval, 2, 2ºB-C · 36202 Vigo
  </p>
  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34935246646">
    {{svgSprite('phone-rojo')}}
      +34  986 63 24 66
  </a>
  <a class="p-oficinas-list__item mb-4" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
    <a class="p-oficinas-list__item mb-4" href="https://maps.app.goo.gl/CS83P3Lu7SCgwoC18" target="_blank">



    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="p-oficinas-list__item mb-4 js-iframe-link" href="#GoogleIframe-vigo">{{svgSprite('mapa-rojo')}}Mapa</a>
</div>
