<p class="u-text-l mb-4 pb-lg-3">Valencia</p>
<div class="d-flex flex-column align-items-baseline">
  <p class="p-oficinas-list__item u-text-base font-weight-bold mb-4">
    {{svgSprite('localizacion-rojo')}}
      Calle Roger de Lauria, 7 · 46002 Valencia
  </p>
  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34960450050">
    {{svgSprite('phone-rojo')}}
    +34 960 45 03 90 
  </a>
  <a class="p-oficinas-list__item mb-4" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
    <a class="p-oficinas-list__item mb-4" href="https://goo.gl/maps/1MHE2nxvAcTkZ9sF8" target="_blank">

    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="p-oficinas-list__item mb-4 js-iframe-link" href="#GoogleIframe-Valencia">{{svgSprite('mapa-rojo')}}Mapa</a> 
</div>
