<p class="u-text-l mb-4 pb-lg-3">Zaragoza</p>
<div class="d-flex flex-column align-items-baseline">
<p class="u-text-base font-weight-bold mb-4 p-oficinas-list__item">{{svgSprite('localizacion-rojo')}} Calle Coso, 15, 1ª planta · 50003 Zaragoza</p>


  <a class="p-oficinas-list__item u-black-dark u-no-underline font-weight-bold mb-4" href="tel:+34876501231">
    {{svgSprite('phone-rojo')}}
      +34 876 501 231
  </a>
  <a class="mb-4 p-oficinas-list__item" href="mailto:informacionbp@singularbank.es">
    {{svgSprite('email-rojo')}}
    informacionbp@singularbank.es
  </a>
  <a class="mb-4 p-oficinas-list__item" href="https://goo.gl/maps/jmwQ6sCpDPTX9BWW8" target="_blank">

    {{svgSprite('ubicacion-rojo')}}
    Cómo llegar
  </a>
  <a class="mb-4 p-oficinas-list__item js-iframe-link" href="#GoogleIframe-zaragoza">
    {{svgSprite('mapa-rojo')}}
    Mapa
  </a>
</div>
