
<a href="#" class="c-persona__image" type="button" data-toggle="modal" data-target="#personaModal">
  <img data-src="https://picsum.photos/415/550?grayscale" class="lazyload" alt="" />
  <span class="c-persona__btn">{{svgSprite('plus')}}</span>
</a>
<h3 class="c-persona__title">Jacques Aigrain</h3>
<p class="c-persona__position">Presidente (Dominical)</p>

<div class="c-persona__modal modal fade" id="personaModal" tabindex="-1" role="dialog" aria-labelledby="personaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a href="#" type="button" class="c-persona__image close" data-dismiss="modal" aria-label="Close">
          <span class="c-persona__btn">{{svgSprite('plus')}}</span>
        </a>
        <div class="row no-gutters">
          <div class="col-lg-4 overflow-hidden">
            <img data-src="https://picsum.photos/415/550?grayscale" class="c-persona__modal__image lazyload h-100" alt="" />
          </div>
          <div class="col-lg-8">
            <div class="row no-gutters c-persona__modal__container">
              <div class="col-lg-6">
                <h3 class="c-persona__title">Jacques Aigrain</h3>
                <p class="c-persona__position">PRESIDENTE (DOMINICAL)</p>
                <div class="c-persona__modal__text c-persona__modal__text--data">
                  <p><strong>Birth</strong><br />July, 1975</p>
                  <p><strong>City</strong><br />Barcelona, España</p>
                  <p><strong>Education</strong><br />Master Degree in Economics<br /> PhD in Economic Analysis - UAB Barcelona</p>
                </div>
                <!--<ul class="c-rrss">
                  <li><a href="#">{{svgSprite('linkedin')}}</a></li>
                  <li><a href="#">{{svgSprite('twitter')}}</a></li>
                  <li><a href="#">{{svgSprite('email')}}</a></li>
                </ul>-->
              </div>
              <div class="col-lg-6 c-persona__modal__text">
                <p>Asesor senior de Warburg Pincus. <br>Consejero independiente de WPP Plc. (R.U.). <br>Vicepresidente  no ejecutivo de LyondellBlassell Industries ( HOL).</p>
                <p>Anteriormente, ha sido consejero en: </p>
                <ul>
                  <li>Deutsche Lufthansa (GER) (Presidente del consejo.de supervisión).</li>
                  <li>LCH Clearnet Ltd. (presidente) (R.U.).</li>
                  <li>Swiss Re (SWI).</li>
                  <li>London Exchange Group Plc. (R.U.).</li>
                  <li>Swiss International Airlines A.G. (CH),</li>
                  <li>Qatar Financial Centre Authority,</li>
                  <li>Clearnet Group (R.U.),</li> 
                  <li>Resolution Ltd (R.U.)</li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
